<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>iLiT</title>
	<link href="css/lesson.css" media="all" rel="stylesheet" />        
	<link href="css/fonts/fonts.css" media="all" rel="stylesheet" />
	<link href="css/idangerous.swiper.css" media="all" rel="stylesheet" />
	<link href="css/lesson.swiper.css" media="all" rel="stylesheet" />
	<link href="css/tooltipster.css" media="all" rel="stylesheet" />
	<link href="css/video-js.css" type="text/css" rel="stylesheet"/>        
	<link href="css/lesson_dev.css" type="text/css" rel="stylesheet"/>
	<link href="css/jquery-ui.css" media="all" rel="stylesheet"/>
	<link href="css/idangerous.swiper.scrollbar.css" rel="stylesheet">
	
	<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/idangerous.swiper-2.1.min.js"></script>
	
	<script type="text/javascript" src="js/jquery.tooltipster.min.js"></script>
	<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
	<script type="application/javascript" src="js/fastclick.js"></script>
	<script src="js/video.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/iSeriesBase.js"></script>
	<script type="text/javascript" src="js/util.js"></script>
	<script type="text/javascript" src="js/constants.js"></script>
	<script type="text/javascript" src="js/message_handler.js"></script>
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/lesson.js"></script>
	<script type="text/javascript" src="js/lesson_conference.js"></script>
	<script type="text/javascript" src="js/client_native_communication.js"></script>

	<!--[if gte IE 9]>
	  <style type="text/css">
			.gradient {
			   filter: none !important;
			}
	  </style>
	<![endif]-->
	<script type="text/javascript">
		$(document).ready(function () {
			var scheduleCheck = function() {
				if(objLessonJsonData != null) {                                      
					loadJS(objLessonJsonData.jsPath,isLoaded);                           
				}
				else {
					setTimeout(scheduleCheck, 100);
				}
			};
			var isLoaded = function () {
				if (typeof objLessonData != "undefined" && objLessonData != null) {
					objLessonJsonData['content'] = objLessonData;
					loadJS(objLessonJsonData.jsPathLibrary, isLibraryLoaded);					
				} else {
					setTimeout(isLoaded, 100);
				}
			};
			
			var isLibraryLoaded = function () {
					if (typeof objBookList != "undefined" && objBookList != null) {							
						onPageLoadComplete(GENERAL.c_s_PAGE_TYPE_LESSON);
						$("#main_container").removeAttr('style');
						$("#main_container").html('');
						$('body').css('background-color','#E0E1E1');
						Application.init(VIEWTYPE.c_s_LESSON);	
					} else {
						setTimeout(isLibraryLoaded, 100);
					}
				};
			// Loader Image
			var loaderImg = '<div style=" font-size: 13px;"><img src="media/loader.gif" style="margin-bottom: 15px;"><br />LOADING</div>';
			$('body').css('background-color','#FFFFFF');
			$("#main_container").css({'text-align':'center', 'top' : '45%', 'left': '50%', 'position' : 'absolute'}).html(loaderImg);
			
			if(oPlatform.isIOS()) {
				loadJS('js/NativeBridge.js', GetLessonInfo);
			}
			else {
				GetLessonInfo();
			}
			setTimeout(scheduleCheck, 200);                        
			/* fast click */
			$(function() {
				FastClick.attach(document.body);
			});
		});
		
		$(window).resize(function () {
			LessonView.resize();
		});
		
		window.onorientationchange = function () {
			LessonView.resize();
		};
	</script>
	<script type="text/javascript">
		/**
		 * Check Platform
		 */

		var objPlatform = {
			isAndroid: function() {
				return navigator.userAgent.match(/Android/i);
			},
			isBlackBerry: function() {
				return navigator.userAgent.match(/BlackBerry/i);
			},
			isIOS: function() {
				return navigator.userAgent.match(/iPhone|iPad|iPod/i);
			},
			isWindows: function() {
		//        return navigator.userAgent.match(/IEMobile|Windows|WebView/i);
				return navigator.userAgent.match(/Windows.*WebView/i);
			},
			isBrowser: function () {
			return !this.isDevice();
			},
			isDevice: function() {
			return (this.isAndroid() || this.isBlackBerry() || this.isIOS() || this.isWindows());
			}
		};
	</script>  
</head>
<body class="lessonview">	
	<section id="main_container">	
	</section>
	<!-- DIALOG BOX --->
	<div id="dialog-message" title="Alert!" class="Ilit_alert_box"></div>
	<div id="viewConferencePopupArea" style="display: none;">
			<iframe id="conferenceViewArea" name="conferenceViewArea" src="" frameborder="0" width="100%"  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no">
			<p>Your browser does not support iframes.</p>
			</iframe>
	</div>
	<div id="resize-button" class="hidden-resize-bttn"></div>
</body>
    
<!-- MAIN CONTAINER TEMPLATE -->
<script type="text/template" id="mainTemplate">
	<div class="wrapper">
		<div class="main_wrapper">
			<div class="backgound_images tabs<%= iTabIndex %> first" style="background-position:center center; background-attachment:scroll; background-size:100% 100%;"></div>
		</div> 
		<div class="bs_example_tabs">
			<div class="menu_tabs">
				<div class="tab_icon sprite"></div>
				<div class="menu_title"> <span class="title_arrow sprite"></span><%= $.trim(json.itemDisplayName) %> </div>
			</div>
			<ul class="nav_tabs" id="navtabs">
				<%
					var j = 0,					
						tabSorted = tabs,
						iCnt = 0,
						active = '';						
					
					_.each(tabSorted, function (tab, i) {						
						j++;						
                                                
						/* if tab is present in json*/
						if(_.indexOf(json_tabs, tab.c_s_TABTYPE) != -1)
						{
							iCnt++;
							active = (iCnt == 1)?'active':'';							
				%> 
				<li class="tabs<%= j %> <%= active %>" ><a href="javascript:void(0);" id="tab_<%= j %>" data-type="<%= tab.c_s_TABTYPE %>" data-verbid="<%= tab.c_s_VERBID %>" class="gradient"><%= $.trim(tab.c_s_TABNAME) %></a></li>
				<%      }
                                
                    }); %>
			</ul>
			<div class="extra_gap"></div>
		</div>
		<div class="container_space middle" style="-ms-touch-action: none;">
				<!--<div class="poll_bttn_cont">
					<button class="button7 btn right poll_toolls" id="pollButton"><%= $.trim(LESSON.c_s_POLL_BTTN) %></button>		
			
					<div class="poll_tooltip" style="display: none;">
							<div class="page_arrow sprite"></div>
							<ul id="lessontoolslist">    
										<li class=""><a href="javascript:void(0);" id="tootltip_0">Question 1</a></li>
								
										<li class=""><a href="javascript:void(0);" id="tootltip_1">Question 2</a></li>								
							</ul>
							<div class="footer_button_area">
							<button class="button7 btn" id="create_poll">Create Poll</button>                    
							</div>
						</div>
				</div>-->
			
			
			<h2></h2>
			<div class="content_space">
				<div id="slide_content"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<!-- </div> [Comment by Somnath unnecessary div end] -->
	<div id="popup_container" style="display:none;"></div>
	<!-- </div> [Comment by Somnath unnecessary div end] -->
	<div id="jpId"></div>
	<div style="display:none;">
		<audio id="popupAudio" controls="false" autoplay="false" preload="true"></audio>
	</div>
	<div id="studentlistpopuparea">
	</div>
</script>

<!-- TEXT SLIDE TEMPLATE -->
<script type="text/template" id="textslideTemplate">
	<%  
		var slide_id = data.slide_id;
		_.each(data.icons, function(icon,i){
	%>		
		<img src="media/<%= icon.label %>" data-tooltip="<%= $.trim(escapeHtml(icon.text)) %>" class="standard-icon-desktop" width="34px" height="36px" alt="" >		
	<% }); %>
	<h3><%= $.trim(data.page_title) %></h3>
	<div class="theme_content swiper-scrollbar"><%= $.trim(data.description) %></div>
	
	<%	
	if(data.bttns.length) { %>
		<div class="area_btn">
			<!--<h3>&nbsp;</h3>-->
		<%       
		_.each(data.bttns, function(bttn,i){
        %>               
			<a href="javascript:void(0);" class="button7 button_wide btn" data-tooltip="<%= $.trim(escapeHtml(bttn.text)) %>" data-tooltipvisible="false" ><%= $.trim(bttn.label) %></a>
		<% });%>
		<div class="clear"></div>
        </div>
	<% } %>
	
	<% 
		if(data.rataCoverImg == "rata_cover_image"){
			LessonView.book_slide = slide_id;
			LessonView.book_audio = data.mediaFolder;
			var _sBookImage = objLessonJsonData.mediaPath + data.rataCoverImg + ".jpeg";
	%>
	<div class="center bookContainer">
		<div class="img_boxeas margin_btm">
			<div class="img_boxeas_box"><img src="<%= _sBookImage %>" alt="<%= data.rataCoverImg %>.jpeg"></div>
			<div class="clear"></div>
			<button class="button7 btn read_book_bttn" data-media="item_<%= data.lessonId %>.audio/" data-slide="<%= slide_id %>"><%= $.trim(LESSON.c_s_READ_BTTN) %></button>
			<div class="clear"></div>
		</div>
		<div class="center">
			<button class="button7 btn" data-tooltip="<%= $.trim(escapeHtml(data.siNote)) %>" data-tooltipvisible="false"><%= $.trim(LESSON.c_s_ABT_BOOK_BTTN) %></button>
			<button class="button7 btn back_txt_bttn" data-num="0" data-rataStartPoint="<%= data.rataStartPoint %>" data-media="item_<%= data.lessonId %>.audio/" data-slide="<%= slide_id %>"><%= $.trim(LESSON.c_s_BACK_TXT_BTTN) %></button>
			<div class="clear"></div>
		</div>                    
	</div>
	<%
		}
		var current_slide = parseInt(slide_id.replace('slide_',''));
		var book_slide = parseInt(LessonView.book_slide.replace('slide_',''));
		
		if(data.currentTab == LESSON.c_s_BOOK_TAB && data.rataStartPoint != '' && data.rataCoverImg != "rata_cover_image"){
	%>
	<div class="buttonBox">
		<button class="button7 btn left back_txt_bttn" data-num="" data-rataStartPoint="<%= data.rataStartPoint %>" data-media="<%= LessonView.book_audio %>" data-slide="<%= slide_id %>"><%= $.trim(LESSON.c_s_BACK_TXT_BTTN) %></button>
	</div>
	<%  } %>
	<!--  modified for lesson conference student list and popup div on 22.05.2014 -->
	    <% if(data.conference_type != GENERAL.c_s_SPECIAL_CHARACTERS_BLANK){ 
		%>
		<div class="studentlist" id="<%=conference_type%>_<%=data.slide_id%>" slide_id="<%=data.slide_id%>" conference_type ="<%=data.conference_type%>" itemDisplayName ="<%=itemDisplayName%>" lessonid ="<%=data.lessonId%>">
		</div>
		<% } %>
	<!--  modified for lesson conference student list and popup div on 22.05.2014 -->
	<div class="clear"></div>
</script>
    
<!-- PROJECTOR SLIDE TEMPLATE -->
<script type="text/template" id="projectorslideTemplate">
	<%  
        var slide_id = data.slide_id;
        _.each(data.icons, function(icon,i){
	%>		
		<img src="media/<%= icon.label %>" data-tooltip="<%= $.trim(escapeHtml(icon.text)) %>" class="standard-icon-desktop" width="34px" height="36px" alt="" >
	<%
        });
	%>
		<h3><%= $.trim(data.page_title) %></h3>
		
		<div class="theme_content swiper-scrollbar"><%= $.trim(data.description) %></div>
		
		<% if(data.bttns.length) { %>
		<div class="area_btn">
			<!--<h3>&nbsp;</h3>-->
		<%       
		_.each(data.bttns, function(bttn,i){
        %>               
			<a href="javascript:void(0);" class="button7 button_wide btn" data-tooltip="<%= $.trim(escapeHtml(bttn.text)) %>" data-tooltipvisible="false" ><%= $.trim(bttn.label) %></a>
        <% });%>
			<div class="clear"></div>
        </div>
	<% } %>
	
	<% if(data.images.length) { %>
		<div class="natural_box_space swiper-scrollbar">
			<div class="natural_table_space">
				<% 
				_.each(data.images, function(img,i){					
                    var _sImage= objLessonJsonData.mediaPath + img;
				%>
					<img src="<%= _sImage %>"  alt="<%= img %>">
				<% }); %>
			</div>
        </div>
	<% } %>
	
	<% 
		var j=0;
		var _sVideo;
		_.each(data.videos, function(video,i){
			j++;
			_sVideo= objLessonJsonData.videoPath + video;
	%>
		<div class="center video_wrapper_div">
			<div class="video_container page_container_video">
				<video id="video_<%= (j) %>_<%= slide_id %>" class="video-js vjs-default-skin" width="100%" height="100%" controls data-setup='{"controls":true, "preload": false, "autoplay": false,"techOrder": ["html5","flash"]}' >
					<source type="video/mp4;" src="<%= _sVideo %>" />
				</video>                 
				<div class="clear"></div>
			</div>   
		</div>
	<% 
        }); 
        var mediaurl = objLessonJsonData.mediaPath + data.proj_image;
	%>
	
	<div class="buttonBox">	
	<% 
		if(data.videos.length){
	%>                
			<button class="right  button7 btn project <%= LessonView.disableOnPreview %>" data-type="video" data-url="<%= _sVideo %>"><%= $.trim(LESSON.c_s_PROJECT_BTTN) %></button>
			<!--<button class="right  button7 btn broadcast <%= LessonView.disableOnPreview %>" data-verbid="<%= LESSON.c_s_BROADACAST_SENT_VERBID %>" data-type="Video" data-url="<%= _sVideo %>"><%= $.trim(LESSON.c_s_BROADCAST_BTTN) %></button>-->
	<% 
		}else if(data.images.length) {
	%>
			<button class="right  button7 btn expand <%= LessonView.disableOnPreview %>" data-verbid="<%= LESSON.c_s_EXPAND_SCRIBBLE_VERBID %>" data-type="image" data-url="<%= mediaurl %>"><%= $.trim(LESSON.c_s_EXPAND_BTTN) %></button>
			<button class="right  button7 btn project <%= LessonView.disableOnPreview %>" data-type="image" data-url="<%= mediaurl %>"><%= $.trim(LESSON.c_s_PROJECT_BTTN) %></button>
			<button class="right  button7 btn broadcast <%= LessonView.disableOnPreview %>" data-verbid="<%= LESSON.c_s_BROADACAST_SENT_VERBID %>" data-type="Image" data-url="<%= mediaurl %>"><%= $.trim(LESSON.c_s_BROADCAST_BTTN) %></button>
	<% 
		}
		
		var current_slide = parseInt(slide_id.replace('slide_',''));
		var book_slide = parseInt(LessonView.book_slide.replace('slide_',''));
		
        if (data.currentTab == LESSON.c_s_BOOK_TAB && data.rataStartPoint != ''){
	%>
			<button class="button7 btn left back_txt_bttn" data-num="" data-rataStartPoint="<%= data.rataStartPoint %>" data-media="<%= LessonView.book_audio %>" data-slide="<%= slide_id %>"><%= $.trim(LESSON.c_s_BACK_TXT_BTTN) %></button>
	<%  
		}
	%>
		</div> 
		<div class="clear"></div>
		<!--  modified for lesson conference student list and popup div on 30.03.2014 -->
	    <% if(data.conference_type != GENERAL.c_s_SPECIAL_CHARACTERS_BLANK){ 
		%>
		<div class="studentlist" id="<%=conference_type%>_<%=data.slide_id%>" slide_id="<%=data.slide_id%>" conference_type ="<%=data.conference_type%>" itemDisplayName ="<%=itemDisplayName%>" lessonid ="<%=data.lessonId%>">
		</div>
		<% } %>
		<!--  modified for lesson conference student list and popup div on 30.03.2014 -->
        <div class="clear"></div>
	
</script>

<!-- IMAGE SLIDE TEMPLATE -->
<script type="text/template" id="imageslideTemplate">
	<%  
        var slide_id = data.slide_id;
        _.each(data.icons, function(icon,i){
	%>
		<img src="media/<%= icon.label %>" data-tooltip="<%= $.trim(escapeHtml(icon.text)) %>" class="standard-icon-desktop" width="34px" height="36px" alt="" >
	<%
        });
	%>
		<h3><%= $.trim(data.page_title) %></h3>		
		
		
	<%	
	if(data.bttns.length) { %>
		<div class="clear"></div>
		<div class="area_btn">
			<!--<h3>&nbsp;</h3>-->
		<%       
		_.each(data.bttns, function(bttn,i){
		%>               
			<a href="javascript:void(0);" class="button7 button_wide btn" data-tooltip="<%= $.trim(escapeHtml(bttn.text)) %>" data-tooltipvisible="false" ><%= $.trim(bttn.label) %></a>
		<% });%>
		<div class="clear"></div>
		</div>
	<% } %>
	
	<% if(data.images.length) { %>
		<div class="natural_box_space swiper-scrollbar">
			<div class="natural_table_space">
				<% 
				_.each(data.images, function(img,i){					
                    var _sImage= objLessonJsonData.mediaPath + img;
				%>
					<img src="<%= _sImage %>"  alt="<%= img %>">
				<% }); %>
			</div>
        </div>
	<% } %>
	      
	<div class="clear"></div>
	<!--  modified for lesson conference student list and popup div on 30.03.2014 -->
	<% if(data.conference_type != GENERAL.c_s_SPECIAL_CHARACTERS_BLANK){ 
	%>
	<div class="studentlist" id="<%=conference_type%>_<%=data.slide_id%>" slide_id="<%=data.slide_id%>" conference_type ="<%=data.conference_type%>" itemDisplayName ="<%=itemDisplayName%>" lessonid ="<%=data.lessonId%>">
	</div>
	<% } %>
	<!--  modified for lesson conference student list and popup div on 30.03.2014 -->
	<div class="clear"></div>
	
</script>

<!-- POLLSLIDE SEND SURVEY TEMPLATE -->
<script type="text/template" id="pollslideTemplate">
	<%  
		var tab_id = data.currentTab;
		var slide_id = data.slide_id;
		var send_survey_id = tab_id+'_'+slide_id+'_send_survey';
		var end_survey_id = tab_id+'_'+slide_id+'_end_survey';
	%>
	<!-- SEND SURVEY SCREEN --->        
	<div id="<%= send_survey_id %>" class="survey_box">
		<% _.each(data.icons, function(icon,i){%>			
			<img src="media/<%= icon.label %>" data-tooltip="<%= $.trim(escapeHtml(icon.text)) %>" class="standard-icon-desktop" width="34px" height="36px" alt="" >
		<% });%>
			<h3><%= $.trim(data.page_title) %></h3>
			<div class="theme_content swiper-scrollbar"><%= $.trim(data.description) %></div>
			
		<%	
		if(data.bttns.length) { %>
			<div class="area_btn">
				<!--<h3>&nbsp;</h3>-->
			<%       
			_.each(data.bttns, function(bttn,i){
			%>               
				<a href="javascript:void(0);" class="button7 button_wide btn" data-tooltip="<%= $.trim(escapeHtml(bttn.text)) %>" data-tooltipvisible="false" ><%= $.trim(bttn.label) %></a>
			<% });%>
			<div class="clear"></div>
			</div>
		<% } %>
			
		<% 
		_.each(data.questions, function(ques,i){
		%>
			<div class="area_btn">
				<div class="left "><%= $.trim(data.word) %></div>
				<button class="right button7 margin_left btn start_survey <%= LessonView.disableOnPreview %>" data-quesid="<%= ques.question_id%>" data-verbid="<%= LESSON.c_s_SURVEY_SENT_VERBID %>" id="<%= 'start_surv_'+tab_id+'_'+slide_id %>"><%= $.trim(LESSON.c_s_SURVEY_BTTN) %></button>
				
				<button class="right button7 btn start_project <%= LessonView.disableOnPreview %>" data-quesid="<%= ques.question_id%>" id="<%= 'start_proj_'+tab_id+'_'+slide_id %>"><%= $.trim(LESSON.c_s_START_PROJECT_BTTN) %></button>
				<div class="clear"> </div>
			</div>
			<div class="natural_box_space margin_top swiper-scrollbar">
				<div class="title_bg"><%= $.trim(ques.content) %></div>
				<div class="question_box_space">
					<ul class="question_part">
						<% 
						var num = 64;
						var cnt = 0;
						_.each(ques.answers, function(ans,j){
							num++;
							cnt++; 
							var response_id = slide_id+'_'+String.fromCharCode(num);
							var margin_none = (ques.answers.length == cnt)?'class="margin_none"':'';                                    
						%>
						<li <%= margin_none %>>
							<div class="feedback_icons" style="display:block;">
								<div class="correct sprite" style="<%= (ans.is_correct === true)?'display:block;':'display:none;' %>"></div>
								<!--<div class="incorrect sprite" style="<%= (ans.is_correct === false)?'display:block;':'display:none;' %>"></div>-->
							</div>
							<div class="answer_key left"><%= String.fromCharCode(num) %></div>                                        
							<div style="display:none;" class="no_box right" id="<%= response_id %>">0</div>
							<div class="middle ansdiv"><%= $.trim(ans.answer_text_html) %></div>
							<div class="clear"></div>
						</li>
						<%
						});
						%>
					</ul>
					<div class="clear"> </div>
				</div>
			</div>
		<%
		});
		%>
		<div class="clear"></div>
	</div>  
        
        <!-- END SURVEY SCREEN --->        
	<div id="<%= end_survey_id %>" style="display:none;">
		<% _.each(data.icons, function(icon,i){%>			
			<img src="media/<%= icon.label %>" data-tooltip="<%= $.trim(escapeHtml(icon.text)) %>" class="standard-icon-desktop" width="34px" height="36px" alt="" >
		<% });%>
			<h3><%= $.trim(data.page_title) %></h3>
			<div class="theme_content swiper-scrollbar"><%= $.trim(data.description) %></div>
			
		<%	
		if(data.bttns.length) { %>
			<div class="area_btn">
				<!--<h3>&nbsp;</h3>-->
			<%       
			_.each(data.bttns, function(bttn,i){
			%>               
				<a href="javascript:void(0);" class="button7 button_wide btn" data-tooltip="<%= $.trim(escapeHtml(bttn.text)) %>" data-tooltipvisible="false" ><%= $.trim(bttn.label) %></a>
			<% });%>
			<div class="clear"></div>
			</div>
		<% } %>
			
		<% 
		_.each(data.questions, function(ques,i){
		%>
			<div class="area_btn">
				<div class="left "><%= $.trim(data.word) %></div>
				<button class="right  margin_left button7 btn end_survey" data-quesid="<%= ques.question_id%>" id="<%= 'end_surv_'+tab_id+'_'+slide_id %>" ><%= $.trim(LESSON.c_s_END_SURVEY_BTTN) %></button>
				
				<div class="clear"> </div>
			</div>
			<div class="natural_box_space margin_top swiper-scrollbar">
				<div class="title_bg"><%= $.trim(ques.content) %></div>
				<div class="question_box_space">
					<ul class="question_part">
						<% 
						var num = 64;
						var cnt = 0;
						_.each(ques.answers, function(ans,j){
							num++;
							cnt++; 
							var response_id = slide_id+'_'+String.fromCharCode(num);
							var margin_none = (ques.answers.length == cnt)?'class="margin_none"':'';                                    
						%>
						<li <%= margin_none %>>
							<div class="feedback_icons" style="display:block;">
								<div class="correct sprite" style="<%= (ans.is_correct === true)?'display:block;':'display:none;' %>"></div>
								<!--<div class="incorrect sprite" style="<%= (ans.is_correct === false)?'display:block;':'display:none;' %>"></div>-->
							</div>
							<div class="no_box right" id="<%= response_id %>">0</div>
							<div class="answer_key left"><%= String.fromCharCode(num) %></div>
							<div class="bar_graph_cont"><div class="bar_color<%= cnt %>" id="bar_<%= response_id %>" style="width: 0px">&nbsp;</div></div>
							<div class="middle ansdiv"><%= $.trim(ans.answer_text_html) %></div>
							<input type="hidden" id="info_<%= response_id %>" value="<%= escape($.trim(ans.additional_information_html)) %>" />
							<div class="clear"></div>
						</li>
						<%
						});
						%>
					</ul>
					<div class="clear"> </div>
				</div>
				<div class="message"></div>
			</div>
		<%
		});
		%>		
		<div class="clear"></div>
	</div>  
</script>



<!-- SLIDER TEMPLATE -->
<script type="text/template" id="sliderTemplate">
	<div class="swiper-container swiper-nested1 swiper-n1">
		<div class="swiper-wrapper">
		<%
			var k=0;
			_.each(slides, function (slide, i) {
				k++;
		%>
                <div class="swiper-slide" id="slide_<%=i%>" data-slidecount="<%= k %>"></div>
		<%
			});
		%>                
		</div>
	</div>
	<div class='pagination'></div>
</script>
    
<!-- SUB SLIDER TEMPLATE -->
<script type="text/template" id="subSliderTemplate">
	<div class="md-content swiper-container swiper-nested2 swiper-n2">
		<div class="swiper-wrapper middle">
			<%
			var stop_num = 0;
			var slide_cnt = 0; 
			_.each(slides, function (slide, i) {
				slide_cnt++;		
				if ($.trim(slide.audio_file))
				{
					var _sAudio= objLessonJsonData.mediaPath + slide.audio_file;
				}
				LessonView.rataSlide[i] =  {"slide" : slide, "audio_path" : _sAudio, "audio_name" : slide.audio_file};
			%>
			<div class="swiper-slide" id="sub_slide_<%=i%>" data-slidenum="<%= slide_cnt %>" data-pageID="<%= slide.page_ID %>" data-subslidekey="<%= slide.stop_point_key %>">
				<div class="swiper-padding-right swiper-padding-left div_width">
					<div class="player_container">
					<% if($.trim(slide.audio_file))
					{						
					%>                            
						<div id="jp_container_<%=i%>" data-audio="<%= _sAudio %>" >
							<a href="javascript:void(0);" class="jp-play sprite2"><%= $.trim(LESSON.c_s_PLAY) %></a>
							<a href="javascript:void(0);" class="jp-pause sprite2" style="display:none;"><%= $.trim(LESSON.c_s_PAUSE) %></a>
						</div>
					<% } %>
					</div>
					<div class="book_content">
					<div class="beforetext swiper-scrollbar"><%= $.trim(slide.before_stop_point_text) %></div>
					<% 						
					if($.trim(slide.stop_point_key) || _.size(slides) == slide_cnt){						
						stop_num++;
						LessonView.book_stop_page[stop_num] = {"book_page_num" : i-1};
					%>
					<div class="stopbttn" data-stoppointkey="<%= slide.stop_point_key %>" data-num="<%= stop_num %>" data-parentslide="<%= parent_slide %>"></div>
					<% 
						}					
					if($.trim(slide.after_stop_point_text)) {
					%>
						<div class="aftertext swiper-scrollbar"><%= $.trim(slide.after_stop_point_text) %></div>
					<%  
						}
					%>
					</div>
				</div>
			</div>
			<%
            });
			%>                
		</div>
	</div>
	<div class="pagination" style="display:none;"></div>
</script>
    
<!-- POPUP SLIDER TEMPLATE -->
<script type="text/template" id="popupTemplate">
	<div class="md-modal md-effect-13 md-show" id="pages_slider"></div>
    <div class="md-overlay"></div>
</script>

<!-- POLL CREATE/EDIT TEMPLATE -->
<script type="text/template" id="pollTemplate">
<div class="wrapper">
	<div class="backgound_images bg11">
    </div>
  <div class="main_wrapper"> 
    	
      <section class="container_space middle">
      	
            <div class="content_space lesson_enhancement">
                <div class="content_multiple_space">
                
                <h3 class="blue_heading">Create a Poll</h3>
                
                <div class="middle margin_btm"><div class="left qstn">Question</div> <button class="button7 btn right assignment">Set Timer</button></div>
                <div class="clear"></div>
                <div class="content_question_space">
                
                    <div class="quest_space ">
                        
                        <div class="text_box_area lesson_qstn">
                        	<textarea class="" name=""></textarea>
                        </div>
                        
                        
                        <div class="title_name option">
                            <div class="left"><strong>Options</strong> </div>
                            <div class="tabbing right">
                            	<div class="left numbr">No of Option</div>
                                <div class="p_tabbing">
                                    <button class="p_button8 left options_num" data-val="2">Two</button>
                                    <button class="p_button8 active left options_num" data-val="3">Three</button>
                                    <button class="p_button8 left options_num" data-val="4">Four</button>
                                    
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        
						<div class="poll_options_cont">
							 <div class="text_box_area lesson_qstn_small">
								<textarea class="" name=""></textarea>
							 </div>
							 <div class="text_box_area lesson_qstn_small">
								<textarea class="" name=""></textarea>
							 </div>
							<div class="text_box_area lesson_qstn_small">
								<textarea class="" name=""></textarea>
							 </div>							 
						 </div>
                        
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
              
                <div class="clear"></div>
            </div>
            
             
                    
                
                
                <div class="clear"></div>
            </div>
            <div class="edit_box_title lssn_contr">
             	<div class="right"><button type="button" class="preview right sprite"></button></div>
											<button class="slideCommonSubmitButton button7 btn readChkPointBtn" id="btnInput">
												Input Answers
											</button>
											<div class="clear"></div>
										</div>
            
            <div class="clear"></div>
      </section>
      <div class="clear"></div>
  </div>
  <footer>
    	<div class="footer_inner">
       	  <button class="session sprite left" type="button">Session</button>
          <button class="session sprite left active" type="button">Session</button>
          <div class="avatar right"> 
          	<img src="media/avtar_img.png"  alt="">
            <div class="avatar_inner"><img src="media/avtar.png" alt=""></div>
          </div>
        	<div class="footer_in">
                <button class="Library active sprite" type="button"><span>Library</span></button>
                <button class="Lessons sprite" type="button"><span>Lessons</span></button>
                <button class="Notebooks sprite" type="button"><span>Notebooks</span></button>
                <button class="Assignments sprite" type="button"><span>Assignments</span></button>
                <button class="Performance sprite" type="button"><span>Performance</span></button>
                <button class="Planner sprite" type="button"><span>Planner</span></button>
            </div>
            
        </div>
    </footer>
  <div class="clear"></div>
</div>




</script>
<!-- STUDENTLIST TEMPLATE -->
<script type="text/template" id="studentlistTemplate">
    <% if(StudentData.length > 1){
	%>
		<div class="area_btn">
						<button class="button7 btn" type="button" id="<%=LESSON.c_s_CONFERENCE_STUDENTLIST_EDIT_BTN%>_<%=data.slide_id%>"><%=LESSON.c_s_EDIT_BTN_TXT%></button> <button class="button7 btn" type="button" id="<%=LESSON.c_s_CONFERENCE_STUDENTLIST_REFRESH_BTN%>_<%=data.slide_id%>"><%=LESSON.c_s_REFRESH_BTN_TXT%></button> 
		
		</div>
		
	<% } else { %>
	<div class="area_btn">
						 <button class="button7 btn" type="button" id="<%=LESSON.c_s_CONFERENCE_STUDENTLIST_REFRESH_BTN%>_<%=data.slide_id%>"><%=LESSON.c_s_REFRESH_BTN_TXT%></button>  
		
		</div>
	<% } %> 
	<div class="student_grid_view">
		<div class="student_grid_view_inner">
			<% 	totalStudent=0;
				var current_reading_bookid='';
				_.each(StudentData,function(idx,valx) {					
					if (typeof idx == 'undefined') {
						return;
					}
					/*if(idx.UserRole !="I"){*/
					totalStudent++;
					if(totalStudent > data.iLimit) return false;					
					current_reading_bookid = ((typeof idx.UserCurrentReadingBookID == 'object' && _.size(idx.UserCurrentReadingBookID) == 0) || 
											idx.UserCurrentReadingBookID.length == 0) ? '' : idx.UserCurrentReadingBookID;
			%>
				<div class="student_view_box" id="<%=idx.UserID%>">
					<div class="student_box"  conference-type="<%=encodeURIComponent(data.conference_type)%>" student_name="<%= encodeURIComponent(idx.UserDisplayName)%>" student_id="<%=idx.UserID%>" 
					ItemDisplayName="<%=encodeURIComponent(data.itemDisplayName) %>"
					lesson_id ="<%=data.lessonId%>" current_cur_reading_bookid ="<%=current_reading_bookid%>" current_cur_reading_level="<%=idx.UserCurrentReadingLevel%>"><img alt="" src="media/student_img3.png"></div>
					<div class="student_view_name"><%=idx.UserDisplayName%></div>
				</div>
			<% /*}*/ }); %>
			
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
</script>
<!-- STUDENTLIST TEMPLATE -->
<!-- STUDENTLIST POPUP TEMPLATE -->
<script type="text/template" id="studentlistPopupTemplate">
<div class="modal" id="<%=LESSON.c_s_CONFERENCE_STUDENTLIST%>_<%=data.slide_id%>" style="display:block;">
	<div class="actiavtion_wrapper">
	<div class="acces_top_nav">
		<%=LESSON.c_s_CONFERENCE_STUDENT_POPUP_LABEL%>
		<div class="clear"></div>
	</div>

	<div class="student_inside_list">
		<div class="Tooltip_menu_wrap">
		<div class="tooltip_wrap_language">
						<ul>
							<%												
							_.each(StudentData,function(idx,valx) {								
								if (idx.UserRole != "I") {
									if ($.inArray(idx.UserID, studentselectedlist) != -1) {
										activeStudentClass = "active";
									}
									else {
										activeStudentClass = "";
									}
								%>
								<li class="<%=activeStudentClass%>" student_id="<%=idx.UserID%>"><%=idx.UserDisplayName%> 
									<span class="sprite signal"></span>
								</li>
							<% } 
							}); 
							%>
						</ul>
					</div>
		</div>
		<div class="clear"></div>
	</div>
		
	<div class="btm_navs">
		<button class="button7 btn right" id="<%=LESSON.c_s_CONFERENCE_STUDENTLIST_SAVE_BTN%>_<%=data.slide_id%>"><%=LESSON.c_s_CONFERENCE_STUDENT_POPUP_SAVE_LABEL%></button>
		<button class="button7 btn  right margin_gap_right" id="<%=LESSON.c_s_CONFERENCE_STUDENTLIST_CANCEL_BTN%>_<%=data.slide_id%>" ><%=LESSON.c_s_CONFERENCE_STUDENT_POPUP_CANCEL_LABEL%></button>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div> 
</script>
<!-- STUDENTLIST POPUP TEMPLATE -->


</html>