.popup_yellow_content {
    display:inline-block;
    margin:0 auto;
    position:relative;
    text-align:left;
    vertical-align:middle;
    z-index:1045;
    cursor: auto;
}

.popup_yellow_inner{ 
	background: #f8c70f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4YzcwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmEzMDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f8c70f 0%, #f2a309 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8c70f), color-stop(100%,#f2a309)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f8c70f 0%,#f2a309 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f8c70f 0%,#f2a309 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f8c70f 0%,#f2a309 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f8c70f 0%,#f2a309 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8c70f', endColorstr='#f2a309',GradientType=0 ); /* IE6-8 */
	border-radius:8px; -moz-border-radius:8px;  -wekit-border-radius:8px; 
	padding:10px 10px 45px;
	position:relative;
}
.sprite-buzz { background:url(../media/sprite3.png) no-repeat 0 0;}
@media only screen and (-webkit-min-device-pixel-ratio: 2){
	.sprite-buzz { background-image:url(../media/sprite3_ratina.png) ; background-repeat:no-repeat; background-size:500px 500px; }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	.sprite-buzz { background-image:url(../media/sprite3_ratina.png) ; background-repeat:no-repeat; background-size:500px 500px; }
}
.close_yew {
    background-position: -343px -9px;
    cursor: pointer;
    display: block;
    height: 35px;
    position: absolute;
    right: 8px;
    top: 6px;
    width: 35px;
}
.pop_title {
    /* border-bottom: 1px solid #F7C434; */
    text-align: center;
    color: #333333;
}
.pop_title_inn {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}
.popup_content_yellow {
    -webkit-box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.3);
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.3);
    font-size: 21px;
    line-height: 24px;
    color: #333333;
    text-align: left;
    padding: 10px 10px;
    background: #fff;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -wekit-border-radius: 8px;
    margin-top: 5px;
    border: 1px solid #d1ad37;
    max-height: 350px;
    overflow: auto;
	min-width:420px;
	min-height:120px;
	position:relative;
}