<section class="snap-graph-area">
	<div class="snap-graph-wrap">
		<div class="snap-graph-drag" draggable>
			<div class="snap-graph-dgoption dragElem"><div class="snap-graph-dgotext">{{CONSTANTS.c_s_LEXILE_LEVEL_TITLE}}</div></div>
			
			<div class="snap-graph-dgoption dragElem"><div class="snap-graph-dgotext">{{CONSTANTS.c_s_ORAL_FLUENCY_TITLE}}</div></div>
			
			<div class="snap-graph-dgoption dragElem"><div class="snap-graph-dgotext">{{CONSTANTS.c_s_TIME_SPENT_READING_TITLE}}</div></div>
			
			<div class="snap-graph-dgoption dragElem"><div class="snap-graph-dgotext">{{CONSTANTS.c_s_BOOK_READ_TITLE}}</div></div>
		</div>
		<div class="row">
			<div class="col-md-6 text-center">
			  <div class="panel panel-default">
					<div class="panel-heading">{{CONSTANTS.c_s_GLE_TITLE}} <!-- <button id="refresh-btn" type="button" class="btn btn-default btn-sm refresh-btn"><i class="fa fa-refresh" aria-hidden="true"></i></button> --></div>
					<div class="panel-body" id="graphchart_1" style="height: 400px; min-width: 600px;" resize>
						<!-- <img src="media/graph.jpg" alt=""/> -->
					</div>
					
				</div>
			</div>
			<div class="col-md-6 text-center">
				<div class="panel panel-default">
					<div class="panel-heading">{{CONSTANTS.c_s_READING_COMPREHENSION_TITLE}}<!--  <button id="refresh-btn" type="button" class="btn btn-default btn-sm refresh-btn"><i class="fa fa-refresh" aria-hidden="true"></i></button> --></div>
					<div class="panel-body" id="graphchart_2" style="height: 400px; min-width: 600px;" resize>
						<!-- <img src="media/graph.jpg" alt=""/> -->
					</div>
				</div>
			</div>
		</div>
	
	</div>
</section>