.lesson_button_container.swiper-slide {
    padding: 0;
    height: 105px !important;
}
.lesson_button_container.swiper-slide .week-no {
    width: 8%;
    float: none;
    border: 1px solid #fff;
    border-radius: 4px;
    overflow: hidden;
    background-color: #c0c0c0;
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 10%);
    background-size: 2px 2px;
    background-color: #c0c0c0;
    background-image: linear-gradient(transparent 75%, rgba(255,255,255,.5) 10%);
    background-size: 2px 2px;
    margin: 15px 10px 0px 0 !important;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
button.btn-normal2 {
    font-size: 10px;
    padding: 4px 10px;
}
.outside_organize_wrap .outside_tabreading__Notes #sList li { padding-right:0;}
.outside_organize_wrap .outside_tabreading__Notes  #sList .selected button.btn-normal2, .outside_organize_wrap .outside_tabreading__Notes  #sList :hover button.btn-normal2 {
        background-color: #000;
    color: #fff;
}
.outside_organize_wrap .outside_tabreading__Notes  #sList .selected , .outside_organize_wrap .outside_tabreading__Notes  #sList :hover  {
        background-color:transparent;
    color: inherit;
}


.view_organize_container_part .outside_organize_wrap{ width:32.888888888%;  display:inline-block;  vertical-align:top; padding:0;  border-radius:0; background-color:#949599; position:relative; }

.organize-bg {background:url(../media/organize-bg-images.jpg) no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%; position:fixed;
}
.carausal-container {
    padding: 15px 37px 0px;
    position: relative;
    margin: 0 auto;
}
.carausal-container button.btn{ top:50%; margin-top:-7px;}
.carausal-container .week-no { margin-bottom:0;}
.max-width1024{ max-width:1024px; margin:0 auto;} 
.view_organize_carausal{ background:rgba(0,0,0,0.6); border-bottom:8px solid rgb(78, 78, 78);}
.outside_organize_heading{ }
.organize_students_list .tabs li{ width:50%; float:left;}
.organize_students_list .tabs li a{ padding:10px 10px; display:block; color:#000; font-size:16px; font-weight:600; background-color:#c8c8ca;     border-top-right-radius: 9px;}
.organize_students_list .tabs li:last-child a{ background-color:#92969a;}
.outside_organize_wrap .outside_reading_cont.tab_students{ background-color:#c7c8cb;}
.outside_organize_wrap .nonList .label{ font-size:14px; font-weight:bold;padding:8px 3px;}
.outside_organize_wrap .nonList #select_all_students{ font-size:16px; border-bottom:1px solid #333; padding:5px 3px; }
.outside_organize_notes{border:1px solid #333; background-color:#fff; padding:3px; max-height:300px; overflow:auto;}
.outside_organize_wrap .outside_reading_cont_inner{ padding:15px; margin:0;}
.outside_organize_wrap #sList li{ font-size:16px; border-bottom:1px solid #333; padding:10px 30px 10px 3px; position:relative; }
.outside_organize_wrap #sList li:last-child{ border:0;}
.outside_organize_wrap #sList li .uicheck_icon{ background-position:-421px -659px; width:28px; height:28px; display:block;     position: absolute;
    right:5px; top:50%; margin-top:-14px;} 
.outside_organize_wrap #sList li:hover .uicheck_icon, .outside_organize_wrap #sList li.active .uicheck_icon{ background-position:-421px -659px; } 
	
.margin-top10 {
    margin-top: 10px;
}
.btn-normal {
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border: 0;
    padding: 7px 10px;
    cursor: pointer;
}
.text-center{ text-align:center;}
.btn-wrrrp{ padding-bottom:15px;}
.text-uppercase {
    text-transform:uppercase;
}
.btn-normal.disabled {
    cursor: default;
    opacity: 0.5;
}

.organize_students_list h3{ margin:15px 0 5px; padding:5px 0px; font-size:16px; font-weight:bold; color: #000;}
.outside_organize_notes2{ padding:15px;}
.smart-search-list{ background-color:#c8c8c8; margin:0 -3px; }

.smart-search-list li{ font-size:16px; border-bottom:1px solid #333; padding:10px 20px 10px 5px; position:relative;  color:#000; font-weight:bold; }
.smart-search-list li:last-child{ border:0;}
.smart-search-list li .arrw_icon{ background-position:-129px -50px; width:15px; height:15px; display:block;     position: absolute;
    right:5px; top:50%; margin-top:-7.5px;} 
.smart-search-list li.active .arrw_icon{ background-position:-130px -471px; width:15px; height:15px; display:block;     position: absolute;
    right:5px; top:50%; margin-top:-7.5px;}
	
.outside_organize_notes#students_assigned ul li {
    float: none;
}
.outside_tab_Notes{     border: 1px solid #333;    background-color: #fff;    padding: 3px; font-size:14px;  color:#000; font-weight:bold;}
.outside_reading_cont .outside_tab_Notes p{ font-size:14px;}
.next-arrow{ width:0; height:0; border-left:7px solid #0073bc; border-right:7px solid transparent; border-top:7px solid transparent; border-bottom:7px solid transparent; position:absolute; left:0; top:50%; margin-top:-9px;}
.container_spaceorganize.dashboard_instructor{
	padding: 0;
	
     
}

/* GRID CSS */
.table-slider-with{ /* width:980px; */ width:947px; margin:0 auto; background-color:#939598; position:relative; overflow:hidden}
.table-title{ color:#fff; text-align:center; font-weight:bold; font-size:16px; }
.table-column{ width:229px; float:left;}
.table-column2{ width:700px; float:left;}
.table-column3{ width:225px; float:left;}
.margin-right20{ margin-right:20px;}
.margin-right2{ margin-right:2px;}
.margin-right1{ margin-right:1px;}
.bg-black{ background-color:#000;}
.partname{ width:147px; float:left; padding:10px 5px; height:30px; overflow:hidden; line-height: 19px; font-size:14px;}
.partname-qty{ width:60px; float:left;padding:10px 5px;  height:30px;  overflow:hidden; line-height: 19px; font-size:14px; text-align:center;}
.clearfix{ height:0; line-height:0; width:0; padding:0; margin:0; clear:both;}
.even{ background-color:#cde2f3; }
.odd{background-color:#fff; }
.table-title .partname, .table-title .partname-qty{ height:auto;}
.line-clamp {  display: -webkit-box;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical;    max-height: 30px; }
.table-title2 .paddingtitle{padding:10px 5px; height: 19px; width:215px; float:left;  font-size:14px;}
.table-title2 .paddingtitle.thin:first{width:60px;}
.table-title2 .paddingtitle.thin{width:97px;}
.table-title .gradeTitle, .table-title2 .gradeTitle{height: 40px;}
.table-title2 .gradeTitle{font-size: 13px;}
.table-content-wrapper{ /* max-height:400px; */ overflow:auto; position:relative; color: #000;}
.slide-item{ position:relative;}
.next-table-slide{ width:20px; height:39px; background-color:#000; color:#fff; border:0; position:absolute; top:0; }
.left-sl{ left:-2px;         background-position: -3px -28px;}
.right-sl{ right:-17px;     background-position: -2px 3px;}
.slide-pagination{ width:21px;height:39px; position:absolute; right:17px; top: 0; background-color:#cde3f2; }
.left-sl.disabled{background-image: none; cursor: default;}
.right-sl.disabled {background-image: none; cursor: default;}
.table-column2 .partname{    width: 143px;}
.table-column2 .partname .item-name{ float: left;}
.table-column2 .partname .reading-lvl{ float: right;}
.table-column2 .partname50{        width: 101.5px;}
.table-column2 .partname100{        width: 215px; text-align: center;}
.table-content, .table-title{ overflow:hidden;}
.next-table-slide.btn {transform: translate(0px, 0px) !important;}
.table-slider-tabs{ text-align:center; margin-bottom:10px;     text-align: center;    display: inline-block; background:rgba(0,0,0,0.6); padding:5px; border-radius:0 0 5px 5px;}
.table-slider-tabs li { display:inline-block;}
.table-slider-tabs li a{ display:inline-block; padding:8px 20px; color:#fff; font-size:15px; font-weight:bold; text-decoration:none; border:2px solid transparent; border-radius:6px; }
.table-slider-tabs li a.active{background-color:rgb(78, 78, 78); border:2px solid #fff; cursor: default;}

.table-slider-container .slide-item {left: 0; -webkit-transition: left 1s; transition: left 1s;}
.table-slider-container .slide-item  .msg-container{ color: #fff; text-align: center;}
.grade-btn-height{height: 60px;}
.table-slider-with.no-data{background-color: #8AC2E6;}
.table-slider-container .grade-title-txt{height: 32px; line-height: 15px;}
.table-slider-container .grade-expand{float: left;
    cursor: pointer;
    width: 22px;
    height: 20px;
    position: absolute;
    top: -3px;
    background-position: -265px -477px;
    text-indent: -999em;}
.gleview-header .paddingtitle {width: 66.5px !important; font-size: 10px; height: 40px;}
.gleview-grid .partname {width: 66.5px !important; font-size: 10px;}
.margin-right1 {margin-right: 1px;}
.margin-top1 {margin-top: 1px;}
.grade-title-gle{ position:relative;}
.gleview-header .header-full .paddingtitle{ font-size: 12px; height: 9px; padding: 5px 5px;}
.gleview-header .header-grid .paddingtitle{ height: 25px; padding-top: 5px;}
.grade-collapse {    float: left;
    cursor: pointer;
    float: left;
    cursor: pointer;
    width: 22px;
    height: 20px;
    position: absolute;
    top: -1px;
    background-position: -265px -544px;
    text-indent: -999em;}
.totGle{text-align: center;}
.red-lbl{color: red; cursor: pointer;}
.light_box_close {
    width: 33px;
    height: 34px;
    display: block;
    background-position: -417px -214px;
    float: right;
    cursor: pointer;
    margin-top: -8px;
    /* position: absolute; */
    right: 10px;
    top: 7px;
}
.updateRubric-content {
    border-bottom: #ddd 1px solid;
    text-align: center;
}
/* alert box css starts */
.Ilit_alert_box.ui-dialog  { -moz-box-shadow: 0 2px 9px 3px #888;
-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.3);
box-shadow: 0 6px 12px rgba(0,0,0,.3); background: none; border:0;border-radius:8px 8px; -moz-border-radius:8px 8px; -webkit-border-radius:8px 8px ; -o-border-radius:8px 8px;-ms-border-radius:8px 8px ; padding: 0.5em 0.7em; font-size:14px; color:#444;padding:0px;}
.Ilit_alert_box.ui-dialog .ui-dialog-titlebar {border: 0; box-shadow: 0 1px 3px rgba(0,0,0, .2); font-size: 18px; color: #000  !important; border-bottom: 1px solid #ddd; background: #eeeeee; padding:14px;border-radius:8px 8px 0 0; -moz-border-radius:8px 8px 0 0; -webkit-border-radius:8px 8px 0 0; -ms-border-radius:8px 8px 0 0;-o-border-radius:8px 8px 0 0;}
.Ilit_alert_box.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close { margin-right:6px; display: none; }
.ui-dialog .ui-dialog-content{ font-size: 16px; line-height: 22px;}
body .ui-dialog .ui-dialog-buttonpane{padding: 2px 10px !important; position: relative; background-image: none !important; margin: 0; border: 0; box-shadow: 0 0px 3px 0 rgba(0,0,0, .2) !important; font-size: 18px; color: #000  !important; border-top: 1px solid #ddd; background-color: #eeeeee; padding:14px;border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px; -webkit-border-radius: 0 0 8px 8px; -ms-border-radius: 0 0 8px 8px;-o-border-radius: 0 0 8px 8px;}
.ui-dialog-buttonpane.ui-widget-content{  background-image: none !important;}
.ui-dialog-content.ui-widget-content{ background:#fff !important; box-shadow: 0 0px 3px 0 rgba(0,0,0, .2) !important;  height: auto !important; padding: 1.5em 1em !important;}
.ui-button-text-only .ui-button-text{ padding: 0;}
body .ui-dialog-buttonset button.ui-button.ui-state-default{background: #3444ad; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0NDRhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDQ0YWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #3444ad 0%, #3444ad 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3444ad), color-stop(100%,#3444ad)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3444ad 0%,#3444ad 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3444ad 0%,#3444ad 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3444ad 0%,#3444ad 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3444ad 0%,#3444ad 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3444ad', endColorstr='#3444ad',GradientType=0 ); /* IE6-8 */
border:0; border-radius:5px;  -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px;
-webkit-box-shadow:0 1px 0px 0 #1a2b96,inset 0 -2px 0 0 #1a2b96,inset 0 0 0 1px #3444ad;-ms-box-shadow:0 1px 0px 0 #1a2b96,inset 0 -2px 0 0 #1a2b96,inset 0 0 0 1px #3444ad;box-shadow:0 1px 0px 0 #1a2b96,inset 0 -2px 0 0 #1a2b96,inset 0 0 0 1px #3444ad;
font-size: 15px; padding: 5px 20px; color:#fff;text-decoration:none;  min-width:90px; margin-right:10px;  font-weight:bold;  border: 0; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{ border: 0;}

body .ui-dialog-buttonset button.ui-button.ui-state-default:not(.disabled):hover{color:white;background:#3d57b4; }
body .ui-dialog-buttonset button.ui-button.ui-state-default:not(.disabled):active, .bookTitle:not(.disabled):active{color:white;background:#3d57b4; 
}


body .ui-dialog-buttonset button.ui-button.gray{background: #484d51; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ4NGQ1MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYjQwNDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #484d51 0%, #3b4044 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#484d51), color-stop(100%,#3b4044)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #484d51 0%,#3b4044 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #484d51 0%,#3b4044 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #484d51 0%,#3b4044 100%); /* IE10+ */
background: linear-gradient(to bottom,  #484d51 0%,#3b4044 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484d51', endColorstr='#3b4044',GradientType=0 ); /* IE6-8 */border:0; border-radius:5px;  -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; -ms-border-radius:5px;
-webkit-box-shadow:0 1px 0 0 #1C1E22, 0 -2px 0 0 #1C1E22 inset, 0 0 0 1px #3F4348 inset;-ms-box-shadow:0 1px 0 0 #1C1E22, 0 -2px 0 0 #1C1E22 inset, 0 0 0 1px #3F4348 inset;box-shadow:0 1px 0 0 #1C1E22, 0 -2px 0 0 #1C1E22 inset, 0 0 0 1px #3F4348 inset;
font-size: 15px; padding: 5px 20px; color:#fff;text-decoration:none;  min-width:90px; margin-right:10px;  font-weight:bold;  border: 0;}


.gray{ border: 0;}

body .ui-dialog-buttonset button.ui-button.gray:not(.disabled):hover{color:white;background:#3F4348; }
body .ui-dialog-buttonset button.ui-button.gray:not(.disabled):active{color:white;background:#3F4348; 
}
/* alert box css ends */

/* Week Starts */
.lesson_button_container.swiper-slide .week-no.weekselected {
    z-index: 2;
    transition: all 200ms ease-in;
    transform: scale(1.1);
    height: 97px;
    width: 8%;
    margin-top: 5px !important;
    /* border-color: #0073BC; */
    background-image: none; border-width:2px;
    /* background-color: #0073BC !important; */
}
.lesson_button_container.swiper-slide .week-no.weekselected .weekend-no {
    font-size: 63px;
    line-height: 65px;
    background-color: #fff; padding:0; height:65px;
}
.lesson_button_container.swiper-slide .week-no .weekend-no {
    padding: 0;
    background-color: #fff;
    font-size: 43px;
	line-height:46px; height:46px; font-weight:bold;
}
.lesson_button_container.swiper-slide .week-no.color0 .week-name {
    background-color: #0153a5;
    border-radius: 4px 4px 0 0;
    color: #fff;
}
.lesson_button_container.swiper-slide .week-no.color0 {
    background-color: #fff;
	color:#0153a5;
}
.lesson_button_container.swiper-slide .week-no.color1 {
    background-color: #fff;
	color : #f26522;
}
.lesson_button_container.swiper-slide .week-no.color2 {
    background-color: #fff;
	color : #009247;
}
.lesson_button_container.swiper-slide .week-no.color3 {
    background-color: #fff;
	color : #aa0000;
}
.lesson_button_container.swiper-slide .week-no.color4 {
    background-color: #fff;
	color : #622a8f;
}
.lesson_button_container.swiper-slide .week-no.color5 {
    background-color: #fff;
	color : #845a2e;
}
.lesson_button_container.swiper-slide .week-no.color6 {
    background-color: #fff;
	color : #eb0083;
}
.lesson_button_container.swiper-slide .week-no.color7 {
    background-color: #fff;
	color : #006d74;
}
.lesson_button_container.swiper-slide .week-no.color8 {
    background-color: #fff;
	color : #592A71
}
.lesson_button_container.swiper-slide .week-no.color9 {
    background-color: #fff;
	color : #A97939
}
.lesson_button_container.swiper-slide .week-no.color10 {
    background-color: #fff;
	color : #353376
}

.week-name {
    border-bottom: 2px solid #fff;
}
.week-no.weekselected .week-name {
    border-bottom: 2px solid transparent;
    color: #000000;
}

.week-no.color0{ background-color:#fff;}
.week-no.color0 .week-name{ background-color:#0153a5; border-radius:4px 4px 0 0; color:#fff;}

.week-no.color1{ background-color:#fff;}
.week-no.color1 .week-name{ background-color:#f26522; border-radius:4px 4px 0 0; color:#fff;}

.week-no.color2{ background-color:#fff;}
.week-no.color2 .week-name{ background-color:#009247; border-radius:4px 4px 0 0; color:#fff;}

.week-no.color3{ background-color:#fff;}
.week-no.color3 .week-name{ background-color:#aa0000; border-radius:4px 4px 0 0; color:#fff;}

.week-no.color4{ background-color:#fff;}
.week-no.color4 .week-name{ background-color:#622a8f; border-radius:4px 4px 0 0; color:#fff;}

.week-no.color5{ background-color:#fff;}
.week-no.color5 .week-name{ background-color:#845a2e; border-radius:4px 4px 0 0; color:#fff;}


.week-no.color6{ background-color:#fff;}
.week-no.color6 .week-name{ background-color:#eb0083; border-radius:4px 4px 0 0; color:#fff;}

.week-no.color7{ background-color:#fff;}
.week-no.color7 .week-name{ background-color:#006d74; border-radius:4px 4px 0 0; color:#fff;}

.week-no.color8{ background-color:#fff;}
.week-no.color8 .week-name{ background-color:#592A71; border-radius:4px 4px 0 0; color:#fff;}

.week-no.color9{ background-color:#fff;}
.week-no.color9 .week-name{ background-color:#A97939; border-radius:4px 4px 0 0; color:#fff;}

.week-no.color10{ background-color:#fff;}
.week-no.color10 .week-name{ background-color:#353376; border-radius:4px 4px 0 0; color:#fff;}

.week-no .week-name {
    text-transform: uppercase;
    color: #808080;
}

.swiper-slide .week-name {
    font-weight: normal;
    font-size: 13px;
    line-height:20px; height:18px;
}
.swiper-slide .week-no.weekselected .week-name {
    font-size: 18px;
    line-height:30px; height:27px;
}
/* Week Ends */
button.next-table-slide.left-sl.grade-btn-height.left_arrow.sprite.btn:before {
    position: absolute;
    background-color: #000;
    height: 20px;
    content: "";
    width: 25px;
    left: 0;
    top: 0;
}
button.next-table-slide.left-sl.grade-btn-height.left_arrow.sprite.btn:after {
    position: absolute;
    background-color: #000;
    height: 20px;
    content: "";
    width: 25px;
    left: 0;
    top: 40px;
}
button.next-table-slide.right-sl.grade-btn-height.right_arrow.sprite.btn:before {
    position: absolute;
    background-color: #000;
    height: 20px;
    content: "";
    width: 25px;
    left: 0;
    bottom: 0;
}
button.next-table-slide.left-sl.grade-btn-height {
    background-position: -3px -17px;
}
button.next-table-slide.right-sl.grade-btn-height {
      background-position: -2px 13px;
}
.table-slider-tabscont{ text-align:center;}


/* .table-slider-with.summary-grid td, .table-slider-with.summary-grid tr{ border:1px solid #e2e2e2; background:#fff; padding:7px; font-size:12px; text-align:center; vertical-align:middle;}
.table-slider-with.summary-grid .header-table td{ background-color:#000; color:#fff; border:1px solid #e2e2e2 }
.table-slider-with.summary-grid .sab-table-content{ padding:0;border:0;}
.table-slider-with.summary-grid .table-content-wrapper{ margin-top:55px;} */

/* new summary table starts */
.summary-grid.divTable{	width: 100%;}
.summary-grid .div-table-body{ max-height:200px; overflow-y:scroll;}
.summary-grid.divTable .extra-cell div{	    min-height:auto;  border-right:1px solid #e2e2e2;     min-height: 30px;}
.summary-grid .divTableCell1{ width:175px; float:left;  min-height: 35px; padding:5px; padding-top:20px; }
.summary-grid .divTableCell2{ width:51px; float:left; min-height: 45px; padding:5px; padding-top:10px;}
.summary-grid .divTableCell3{ width:56px; float:left;  min-height: 35px; padding:5px; padding-top:20px;}
.summary-grid .divTableCell4{ width:81px; float:left;  min-height:43px; padding:5px; padding-top:2px;}
.summary-grid .divTableCell5{ width:81px; float:left; min-height: 45px; padding:5px; padding-top:10px;}
.summary-grid .divTableCell6{ width:66px; float:left; min-height: 45px; padding:5px; padding-top:2px;}
.summary-grid .divTableCell7{ width:180px; float:left;}
.summary-grid .divTableCell8{ width:180px; float:left;  }
.summary-grid .divTableCell9{ width:57px; float:left;  float:left; min-height: 45px; padding:5px; padding-top:10px;}
.summary-grid .divTableCell10{ width:57px; float:left;  float:left; min-height: 45px; padding:5px; padding-top:10px;}
.summary-grid .divTableCell11{ width:57px; float:left;  float:left; min-height: 45px; padding:5px; padding-top:10px;}
.summary-grid .clearfix{ height:0; width:0; padding:0; margin:0; line-height:0; clear:both;}
.summary-grid .divtableheader{background-color:#000; color:#fff; border:1px solid #e2e2e2 ; height:60px; font-weight: bold;}
.summary-grid .divtableheader div{border-right:1px solid #e2e2e2; text-align:center; }
.summary-grid.divTable div.extra-cell-name{ white-space:nowrap; border-bottom:1px solid #e2e2e2; min-height:24px;  border-right:0;  padding-top:5px;}
.summary-grid .divtable-body{ max-height:200px; overflow:auto; border:1px solid #ddd; border-right:0; border-top:0}
.summary-grid .divtable-body div{border-right:1px solid #ddd;     border-bottom: 1px solid #ddd; height: 30px; min-height:inherit; padding: 5px;
    padding-top: 10px;}
.summary-grid.divTable .extra-cell .outstanding-div{ border-right:0;}
.summary-grid .Completed-div{ width:89px; float:left; min-height:25px !important;    padding-top:5px;}
.summary-grid .outstanding-div{width:90px; float:left; min-height:25px !important;    padding-top:5px;}
.summary-grid .divtable-body div.extra-cell{ height:30px; padding:0;}
.summary-grid .divtable-body .divTableRow{ padding:0; padding-left:1px;     overflow: hidden;    text-align: center;}
.summary-grid .divtable-body .Completed-div{ width:79px; float:left; min-height:25px !important;    padding-top:5px;}
.summary-grid .divtable-body .outstanding-div{width:80px; float:left; min-height:25px !important;    padding-top:5px;}
.summary-grid .divtableheader {
    background-color: #000;
    color: #fff;
    border: 1px solid #e2e2e2;
    height: 50px;
    overflow: hidden;
}
.summary-grid.divTable {
    width: 100%;
    font-size: 14px;
    background-color: #fff;
}
/* new summary table ends */

.student-title {
	cursor: pointer;
}

/*---------------Instructor View End------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2){
.sprite{	background-image:url(../media/sprite_ratina.png) no-repeat; background-size:500px 800px; }
.sprite2{	background-image:url(../media/sprite2_ratina.png) no-repeat; background-size:400px 180px; }
	}
	
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
.sprite{	background-image:url(../media/sprite_ratina.png) no-repeat; background-size:500px 800px; }
.sprite2{	background-image:url(../media/sprite2_ratina.png) no-repeat; background-size:400px 180px; }
	}