.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:4px;
  width: 100%;
  z-index:1;
}
.swiper-pagination-switch {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 9px;
    margin: 0 3px;
    width: 9px;
}
.swiper-active-switch {
  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.3);
    height: 9px;
    width: 9px;
}
.swiper-container, .swiper-wrapper {
  width: 100%;
  height: 100%;
  min-height: 400px;
}
.swiper-slide {
/*    overflow-y: auto;*/
    float: left;
    position: relative;
}



.popup-swiper-pagination-switch {
  display: inline-block;
  width: 11px;
  height: 11px;
 background: #fff; border: 1px solid #999; width: 10px;
  background: #fff;
  /*box-shadow: 0px 1px 2px #555 inset;*/
  margin: 0 3px;
  cursor: pointer;
  border-radius: 10px;
}
.popupHighlightClass {
  background-color: gray;  
}