body{/* -webkit-user-select: none; */}
/*============================ui Popup Box Start=======================*/

.ui-dialog.ui-widget-content{ padding:0; border:0; overflow:hidden; }
.ui-widget-header{background: #303238; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzIzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI4MjkyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjIzMjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #303238 0%, #28292d 50%, #222325 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303238), color-stop(50%,#28292d), color-stop(100%,#222325)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #303238 0%,#28292d 50%,#222325 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #303238 0%,#28292d 50%,#222325 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #303238 0%,#28292d 50%,#222325 100%); /* IE10+ */
background: linear-gradient(to bottom,  #303238 0%,#28292d 50%,#222325 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303238', endColorstr='#222325',GradientType=0 ); /* IE6-8 */
border-bottom:1px solid #353636; color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    padding: 9px 10px !important;
    text-align: left; border:0;

border-radius:0px ;  -moz-border-radius:0px; -webkit-border-radius:0px; -o-border-radius:0px; -ms-border-radius:0px; 
}
.Ilit_alert_box.ui-dialog-content{ border:1px solid #aaa; border-top:0; border-radius:0px 0 5px 5px;  -moz-border-radius:0px 0 5px 5px; -webkit-border-radius:0px 0 5px 5px; -o-border-radius:0px 0 5px 5px; -ms-border-radius:0px 0 5px 5px;  padding: 0.5em 0.7em; font-size:14px; color:#444;}
.ui-dialog .ui-dialog-titlebar-close{right: 0.5em;}
.ui-widget-overlay {
    background:rgba(0,0,0,0.9)
}

.btndisabled{
    opacity: .5;
    cursor: default;
}
.btndisabled:hover{
    opacity: .5;
    cursor: default;
}
.continent_edit_box.hidden{    
    opacity: 0;    
}
.new_tab_space_inner.rightbox{
    background: none repeat scroll 0 0 #FFFFFF;
}
.scroll_padding{
    padding: 5px 0px;
}

.dropbox{
	border: 1px solid #808080;
    font-size: 16px;
    height: 30px;
    line-height: 28px;
    margin-bottom: 10px;
    padding: 5px; text-align:center;
}
.drag_text_area_container{ margin-bottom: 15px;max-height: 240px;overflow: auto;/*min-height: 250px;*/}
.dropbox_instrction{/*height: 100px;overflow:auto;*/margin-bottom: 10px;}
.dropbox_pass_text{ margin-bottom: 15px; /*height: 250px;overflow:auto;*/ display:none;}
.dropbox_fail_text{ margin-bottom: 10px; /*height: 100px;overflow:auto;*/ display:none;}
.dropbox_fail_again_text{ margin-bottom: 15px; /*height: 128px;overflow:auto;*/ display:none;}
#instructionText{
    height: 425px;
    max-height: 425px;
}
.text_container{
     overflow-y: auto;
}
.text_box_area{
    margin-bottom: 15px;
    margin-top: 5px;
}
.summary_right_box{
    height: auto !important;
    /*width: 350px !important;*/
    top: 0;
    margin:0 0 38px -12px;
}

.summary_right_box span{
    font-size: 20px;
}  
.summary_right_box p{
    font-size: 20px;
}
.summary_right_box div{
    /*font-size: 16px;*/
}

.summary_right_box h3{
    font-size: 20px;
}
.slider_swiper_inner.summary_div_conts.feedback_summary_div_conts{
    width:100% !important;
}
.highlightYellow {
            background-color: yellow;
        }
.highlightRed {
     background-color: red;
 }
 .new_tab_space_title_tab .mainH{width:20px; font-size: 12px; cursor: pointer; line-height: 36px; text-transform: capitalize;}
 .new_tab_space_title_tab .mainH:hover{color:#000;}

 .text_container p{
     margin-bottom:0;
 }
 .back_bttn{
     cursor: pointer;
 }
 .paddright{
    padding-right: 3.5%;
    width: 94.5%;
 }
 .continent_content_inner{
     padding: 17px 15px;
     -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
 }
 
 .continent_content_inner span{
     -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    font-size: 20px;
 }
 
 .continent_content_inner p{
     font-size: 20px;
 }
/*============================ui Popup Box End=======================*/
.stop_scrollbar {
    overflow: hidden !important;
}

.summaryLoader{
position:absolute;
top:50%;
left:43%;
display:none;
}

/*================ 30-12-13 box size ====================*/
.continent_box_space {
    height: 540px;
    /*width: 40%;*/
}
.slider_swiper_inner{
    width:100%;
    margin-top: -290px;
    margin-left: -425px;
    left:50%;
}
.continent_edit_box{
    /*width: 40%;*/
    height: 470px;
}
.continent_content_inner{
    max-height: 505px;
}
.text_box_area{
    height: 320px;
    background: #fff;
}
.drag_text_area_container{
    max-height: 390px;
}

.drag_text_area_container span{
    font-size: 20px;
}

.drag_text_area_container p{
    font-size: 20px;
}

.drag_text_area_container div{
    font-size: 20px;
}

.select_word{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    height: 40px;
    font-size: 20px !important;
}

.select_word{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    height: 40px;
    font-size: 20px !important;
}

.rangySelection p{
    font-size: 20px !important;
}

.highlight_instrction p{
     font-size: 20px !important;
}

.highlight_fail_text p{
     font-size: 20px !important;
}

.highlight_fail_again_text p{
     font-size: 20px !important;
}
#loaderContainer{background-color: #FFF; text-align:center; top : 45%; left: 50%; position : absolute; z-index : 10;}
/*================ 30-12-13 box size ends ====================*/
.msg_content {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: center;
}

#headerTitle{
    position: absolute;
    width: 94%;
    margin: 0 2%;
}
#main_container {
    position: relative;
    z-index: 10;
}
#student_table_container{
	position: relative;
}

button.disabled{
	cursor: default;
}

@media (orientation:landscape) {
    html.ipad.ios7 > body {
        position: fixed;
        bottom: 0;
        width:100%;
        height: 672px !important;
    }
}
